<%= stylesheet_link_tag "comments" %>
<span class="comment-padding-fix">
  <%= @comment.body %>
</span>

<span class="comment-padding-fix">
  |&nbsp;<strong><%= @comment.commenter %></strong>
</span>

<span class="comment-field comment-submit comment-new comment-padding-fix pull-right">New Comment</span>