.navbar-contact 
	padding-right: 15px;

.navbar-centered
    padding-left: 18%;
    padding-right: 18%;
    background-color: #425454;

.container-adjusted 
	margin-top: 90px;
	max-width: 1170px;


.navbar li a 
	font-size: 14px !important;
