<%= stylesheet_link_tag "resume" %>
<div id="downloadbar" class="download-bar"><%= link_to "Download", "files/jack_kohn_resume.pdf" %></div>
<div id="resumeview" style="text-align: center">
    <%= image_tag "resume-full.jpg", class: "resumeimg" %>
</div>
<script>

</script>