.about-title {

}

.about-info {
	/*height: 300px;*/
	font-size: 16px;
	padding-top: 20px;
	width: 100%;
}

.img-container {
	text-align: center;
}

.img-work {
	height: 100px;
}

.img-amazon {
	height: 120px !important;
}

.img-seattle {
	width: 100%;
}